  <div class="row">
    <div class="col-4">
    </div>
    <div class="col-8">
      <h1>Get Inspired!</h1>
      <table>
        <thead>
          <tr>
            <th>Quote</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @quotes.each do |quote| %>
            <tr>
              <td><%= quote.quote %></td>
              <td><%= link_to 'Show', quote %></td>
              <td><%= link_to 'Edit', edit_quote_path(quote) %></td>
              <td><%= link_to 'Destroy', quote, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <br>

      <%= link_to 'New Quote', new_quote_path %>

    </div>
  </div>
